@import url('https://fonts.googleapis.com/css?family=Clicker+Script|Elsie+Swash+Caps');
/*font-family: 'Elsie Swash Caps', cursive;
font-family: 'Clicker Script', cursive;*/

/* This is a comment */
/* CSS Syntax:

selector {
  property: value;
  property: value;
  property: value;
}
*/

/* Type Selector */

p { /* select all <p> */
  font-size: 16px; /* could be 16 px, ?pt, 100% (relative amount based upon element and parent element), 1 em (relative size, but usually equal to 16px)*/
  line-height: 1.5em;
}

figcaption {
  /*font-weight: normal;
  font-size: 0.75em;
  line-height: 1.5em;
  font-family: Georgia, "New Times Roman", serif;*/
  font: normal 0.75em/1.5em 'Elsie Swash Caps', cursive;;
  color: #777;
  text-align: right;
}

/* Class Selectors (applied to as many elements as you like) */

.milk-text {/* select elements with class="milk-text" */
  font: bold 2.6 em 'Elsie Swash Caps', cursive;
}
